﻿@{
    ViewBag.Title = "Ingreso Empleados";
}

<form id="frmIngresoEmpleado" method="post" enctype="multipart/form-data">
    <div class="row">
        <br />
       
        <div class="form-group col-md-12">

            <label for="txtNombre"> Nombres</label>
            <input id="txtNombre" type="text" class="form-control" />
        </div>
        <div class="form-group col-md-12">
            <label for="txtApellido"> Apellidos</label>
            <input id="txtApellido" type="text" class="form-control" />
        </div>

        <div class="form-group col-xs-12 col-sm-6 col-md-3 col-lg-3">
            <label for="datetimepicker1">Fecha Nacimiento</label>
            <div class='input-group date' id='datetimepicker1'>
                <input id="txt_dtpicker1" type='text' class="form-control" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <br> <br> <br> <br>
        <div class=" form-group col-md-12">
            <label for="txtDui">DUI</label>
            <input id="txtDui" type="text" class="form-control" />
        </div>

        <div class=" form-group col-md-12">
            <label for="txtNit">NIT</label>
            <input id="txtNit" type="text" class="form-control" />
        </div>

        <div class="form-group col-md-12">
            <label for="txtIsss">ISSS</label>
            <input id="txtIsss" type="text" class="form-control" />
        </div>


        <div class="form-group col-md-12">
            <label for="txtTelefono">Telefono</label>
            <input id="txtTelefono" type="text" class="form-control" />
        </div>


        <br>
        <div class="form-group col-md-12">
            <label for="txtImportar">Para Importar</label>
            <input id="archivo" name="archivo" type="file" class="form-control" />
        </div>

        <input id="consulta" name="consulta" value="s" hidden/>
    </div>

    <br> 
    <div class="row">
        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button class="btn-success form-control" type="button" id="btn_agregar"> Agregar <span class="glyphicon glyphicon-floppy-saved"></span></button>
        </div>
        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button class="btn-primary form-control" type="button" id="btn_modificar"> Modificar <span class="glyphicon glyphicon-edit"></span></button>
        </div>
        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button class="btn-danger form-control" type="button" id="btn_eliminar"> Eliminar <span class="glyphicon glyphicon-remove-circle"></span></button>
        </div>
        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button class="btn-info form-control" type="submit" id="btn_importar"> Importar <span class="glyphicon glyphicon-open"></span></button>
        </div>
        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            <button class="btn-info form-control" type="button" id="btn_exportar"> Exportar <span class="glyphicon glyphicon-save"></span></button>
        </div>

        <div class="form-group col-xs-6 col-sm-3 col-md-2 col-lg-2">
            @*<button class="btn-info form-control" type="button" id="btn_reporte"> Reporte <span class="glyphicon glyphicon-save"></span></button>*@
            <button id="btn_reporte" type="button" class="btn-info form-control" onclick="@("window.location.href='" + @Url.Action("Index", "Reporte") + "'");">Reporte
                <span class="glyphicon glyphicon-file"></span>
            </button>

</div>
    </div>

    <br> 
    <div class="row">
        <table id="tblEmpleado" class="table-bordered col-md-12">
            <thead>
                <tr>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Fecha Nacimiento
                    </th>
                    <th>
                        DUI
                    </th>
                    <th>
                       NIT
                    </th>
                    <th>
                       ISSS
                    </th>
                    <th>
                        Telefono
                    </th>
                    <th>

                    </th>
                </tr>

            </thead>
            <tbody>
                @foreach (var item in ViewBag.empList)
                {
                    <tr >
                        <td>@item.nombre</td>
                        <td>@item.apellido</td>
                        <td>@item.fechaNacimiento</td>
                        <td>@item.dui</td>
                        <td>@item.nit</td>
                        <td>@item.isss</td>
                        <td>@item.telefono</td>
                        <td id="@item.dui" class="editar"><a data-toggle="tooltip" data-placement="top" title="Modificar" onclick="" class=" delete-color"><i class="glyphicon glyphicon-pencil"></i></a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</form>


